*
{
    margin: 0;
    padding: 0;
}

body
{
    height: 100vh;
    background:radial-gradient(circle, rgb(188, 0, 188), rgb(0, 0, 193)) ;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
}

.heart-container
{
    animation: pulse 2s infinite;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: drop-shadow(0 0 15px #ff4da6);
    font-size: 120px;
    cursor: pointer;
}

.heart
{
    color: #ff4da6;
    text-shadow: 
    0 0 8px #ff4da6,
    0 0 15px #ff4da6,
    0 0 25px #ff99cc,
    0 0 40px #ff80bf;
}

.heart-container:hover
{
    transform: scale(1.1) rotate(2deg);
    filter: drop-shadow(0 0 30px #ff99cc)hue-rotate(45deg);
}

@keyframes pulse
{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
}